[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-markdownx = "*"
django-tracking2 = "*"
mistune = "*"
python-memcached = "*"
django-htmlmin = "*"

[dev-packages]

[requires]
python_version = "3.7"
